*
!index.html
!hv-jose-manuel-ramirez.html
!hv-jose-manuel-ramirez.pdf
!robots.txt
!.nojekyll
!.gitignore
!css/
!css/**
!js/
!js/**
!assets/
!assets/**
*.md
*.zip
*.log
*.ps1
*.env
.env*
node_modules/
